创建数据集

In [20]:
import os 
os.makedirs(os.path.join('.', 'data'), exist_ok=True)   # .当前目录  ..上一层目录
data_file = os.path.join('.', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n') # 列名
    f.write('NA,Pave, 27500\n')       # 每行代表一个样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [26]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms  Alley   Price
0       NaN   Pave   27500
1       2.0    NaN  106000
2       4.0    NaN  178100
3       NaN    NaN  140000

In [27]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]  # 用位置索引切分输入，输出
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  Alley
0       3.0   Pave
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

In [28]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms   Alley_Pave   Alley_nan
0       3.0            1           0
1       2.0            0           1
2       4.0            0           1
3       3.0            0           1

将输入输出转换为张量格式

In [29]:
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([ 27500, 106000, 178100, 140000]))

In [30]:
# 删除缺失值最多的列
data = pd.read_csv(data_file)
print(data)

   NumRooms  Alley   Price
0       NaN   Pave   27500
1       2.0    NaN  106000
2       4.0    NaN  178100
3       NaN    NaN  140000

In [ ]:
nan_count = data.isna().sum()
print(nan_count)
column_to_dp = nan_count.idxmax() # 最大值对应的坐标
print("缺失值最多的列：", column_to_dp)

NumRooms    2
 Alley      3
 Price      0
dtype: int64
缺失值最多的列：  Alley

In [33]:
data = data.drop(column_to_dp, axis=1) # 删除缺失值最多的列
data

   NumRooms   Price
0       NaN   27500
1       2.0  106000
2       4.0  178100
3       NaN  140000